<div class="container-recipe">
    <div class="recipe-img">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" style="max-height: 100px;">
    </div>
    <h1 class="recipe-name">{{recipe.name}}</h1>
    <div class="recipe-description">
        {{recipe.description}}
    </div>
    <div class="recipe-ingredients">
        Ingredients
    </div>
</div>

<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle">Manage recipe <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#">Add to shopping list</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
    </ul>
</div>